<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
    {% endblock %}
</head>
<body>
{% for flash in app.session.flashBag.get("E") %}
    <div class="alert alert-success">
        {{ flash }}
    </div>
{% endfor %}
{% block body %}

{% endblock %}


{% block javascripts %}
    <script src="dist/{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="dist/{{ asset('node_modules/@popperjs/core/dist/umd/popper.min.js') }}"> </script>
{% endblock %}
</body>
</html>

