{% extends 'base.html.twig' %}

{% block body %}
<h1> PFE Titre : {{ pfe.title }}</h1>
    <h2>PFE Student : {{ pfe.nomStudent }}</h2>
    <h2>PFE Entreprise: {{ pfe.entreprise }}</h2>
{% endblock %}

{% block title %}

{% endblock %}

